.clear-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    word-wrap: break-word;
}


@media screen and (min-width: 800px){
    
}